[Unit]
Description=Kite Iot service
After=network.target
StartLimitIntervalSec=30

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=/opt/kite-iot/kite-iot /opt/kite-iot/config/default.json

[Install]
WantedBy=multi-user.target